.enk-offcanvas-container {
  overflow-x: hidden;
}

.enk-offcanvas-content {
  transition: width 0.3s ease;
}

.enk-offcanvas-sidebar {
  transition: margin 0.3s ease;
}

.enk-offcanvas-collapsed {
  margin-right: -100%;
}

.enk-offcanvas-panel-hidden {
  display: none;
}

.enk-offcanvas-panel-visible {
  display: block;
}

@media (max-width: 767px) {
  
  .enk-offcanvas-sidebar.enk-xs-over {
    position: absolute;
    right:0;
  }
}
